.side
  .side__header
    .side__header--content
      .side__header--content-left
        masa
      .side__header--content-right
        = link_to "#", class: "side__header--content-right-btn" do
          = icon('far fa-edit', class: "side_header--content-right-btn-icon")
        = link_to "#", class: "side__header--content-right-btn" do
          = icon("fa fa-cog", class: "side_header--content-right-btn-icon-right")
  .side__contents
    .side__contents--main
      .side__contents--main-top
        techcamp
      .side__contents--main-bottom 
        まだメッセージがありません。