$whitecolor: #ffffff;
$graycolor: #999999;
$btncolor:  #38aef0;
* {
  box-sizing: border-box;
}
.input {
  display: none;
}
.btn {
  color: $whitecolor;
  text-decoration: none;
}
.chat-side {
  background-color: #253141;
  width: 300px;
  float: left;
  .side-header {
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    .header-name {
      color: $whitecolor;
      height: 20px;
      width: 260px;
      color: $whitecolor;
      display: flex;
      justify-content: space-between;
      .name-text {
        font-size: 16px;
        line-height: 20px;
      }
      .icon-list {
        width: 60px;
        line-height: 20px;
        display: flex;
        justify-content: flex-end;
        
      }  
    }
  }
  .group {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    color: $whitecolor;
    overflow: scroll;
    &-message {
      padding: 20px 0 40px;
      &-name {
        font-size: 15px;
        padding-bottom: 5px;
        text-decoration: none;
        color: $whitecolor;
      }
      &-text {
        color: $whitecolor;
        font-size: 11px;
      }
    }
  }
}
.chat-main {
  background-color: $whitecolor;
  width: calc(100vw - 300px);
  float: right;
  .main-header {
    padding: 0 40px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .header-left {
      padding-top: 35px;
      &-group {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &-member  {
        display: flex;
        font-size: 11px;
        color: $graycolor;
      }
    }
    .header-right {
      padding: 28px 0;
      .edit-btn {
        font-size: 16px;
        text-align: center;
        display: block;
        width: 72px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: $btncolor;
        border: 1px solid $btncolor;
      }
    }
  }
  .main-contents {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding-left: 40px;
    overflow: scroll;
    .user-content {
      display: flex;
      padding: 32px 0 12px;
      .user-name {
        font-size: 16px;
        color: #333333;
      }
      .user-time {
        font-size: 11px;
        color: $graycolor;
      }
    }
    .text-message {
      font-size: 14px;
      color: #434A54;
      overflow: scroll;
    }
  }
  .form {
    height: 90px;
    background-color: #2d2d2d;
    padding: 20px 40px;
    form {
      display: flex;
      line-height: 50px;
      .form-mask {
        display: flex;
        position: relative;
        width: 100%;
        .form-message {
          padding: 0 10px;
          height: 50px;
          width: 100%;
          border-style: none;
        }
        &-image {
          position: absolute;
          right: 10px;
        }
      }
      .form-submit {
        margin-left: 15px;
        height: 50px;
        width: 72px;
        background-color: $btncolor;
        color: $whitecolor;
        border-style: none;
      } 
    }  
  }
}